<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Roboto:400,300' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>MeshPower{% block title %} - {{page_title}}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% if keywords %}
  <meta name="keywords" content="{{ keywords }}" />
  {% endif %}

  {% if description %}
  <meta name="description" content="{{ description }}" />
  {% endif %}

	<link rel="shortcut icon" href="static/images/Symbol_Colour_TransparentBG.png">

  <!-- Core CSS -->
  <link href="static/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  
  {% block head %}
 
  {% endblock %}

</head>
<body>
{% block header %}
<header id="page-header" class="headroom">
  <nav class="navbar main-nav navbar-fixed-top">
    <div class="container">

      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
        <a href="/" title="MeshPower Homepage"><img src="static/images/mprw-logo-white-hires.png" class="brand-img img-responsive" alt="MeshPower Logo"></a>
      </div>

      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
        {% for page in navigation %}
        {% set class="nav-item" %}
        {% if this_page == page.id %}
        {% set class="nav-item active" %}
        {% endif %}
          <li class="{{ class }}"><a href="{{ page.url }}" title="{{ page.label }}">{{ page.label }}</a></li>
        {% endfor %}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</header>

{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}

<section id="footer" class="invert">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <img src="static/images/MPRW_FullLogo_White_TransparentBG2.png" class="img-responsive brand" alt="MeshPower Logo">

        <div class="address">
          <h4>MeshPower Limited</h4>
          <p class="small">
            Email: <a href="mailto:contact@meshpower.co.rw">contact@meshpower.co.rw</a></p>
            <p class="small">
            Customer Service: +250 (0)781 575 606
            </p>

        </div>
      </div>

      <div class="col-sm-6 sm-offset-1">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <h4>Navigation</h4>
            <ul>
              {% for page in navigation %}
                <li><a href="{{ page.url }}" title="{{ page.label }}">{{ page.label }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-md-4" id="socialmedia">
            <h4>Social Media</h4>
            <a href="{{ twitter_url }}"><i class="fa fa-twitter"></i></a>
            <a href="{{ fb_url }}"><i class="fa fa-facebook"></i></a>
            <a href="{{ instagram_url }}"><i class="fa fa-instagram"></i></a>	    
            <!-- <a href="{{ git_url }}"><i class="fa fa-github"></i></a> -->
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <p class="verysmall">MeshPower Limited is Registered in Rwanda, company number 103302897 <br>
      It is a fully owned subsidiary of <a href="https://www.xpowerinc.com">Xpower Inc.</a>, a US C Corp incorporated in Delaware</p>
    </div>
  </div>
</section>

{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript" src="static/css/bootstrap/js/bootstrap.min.js"></script>

{% block body_end %}
{% endblock %}

</body>
</html>
