{% extends "_base.html" %}

{% block content %}

{% import "_content.html" as content %}

<div id="hero-image" class="carousel slide">
  <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="static/images/mahama_panels_2.jpg" alt="Solar PV">
      </div>
      <div class="carousel-caption">
	<h1> Our mission and values </h1>
      </div>
  </div>
</div><!-- /.carousel -->

</br>

<section class="content-block">
  <div class="container">
    <div class="row text-center">
      <h2>We Believe <small> renewable energy is the foundation to sustainable economic development </small></h2>
    </div>
  </div>
</section>

<section class="content-block">
  <div class="container">
    <div class="row text-center">
      <h2>We Care <small> about the sustainability of our customers and their communities </small></h2>
    </div>
  </div>
</section>

<section class="content-block">
  <div class="container">
    <div class="row text-center">
      <h2>Our Mission <small> is to empower rural communities </small></h2>
    </div>
  </div>
</section>

<hr>
</br>

<section class="content-block">
  <div class="container">
    <div class="row text-center">
      <p> To this end, MeshPower is committed to reinvesting the majority of our profits, to both expand and deepen our impact across the communities we serve. </p>
    </div>
  </div>
</section>

{% endblock %}
